.color-picker-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.palettes-col {
  width: 50%;
}

.preview-wrapper label,
.palette label {
  width: 100%;
  padding: 0.6rem 0;
}

.palette {
  padding-bottom: 1rem;
}

.palette .color {
  display: inline-block;
  border: solid 1px #cccccc;
  width: 24px;
  height: 24px;
  overflow: clip;
  margin: 0 0.4em 0.4rem 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
  transition: all 150ms ease-in-out;
}

.palette .color:hover,
.palette .color.active {
  transform: scale(125%);
}

.preview-wrapper {
  box-sizing: border-box;
  width: 100%;
}

.preview {
  padding: 1rem 1rem 2rem 1rem;
}

.palettes-preview-wrapper {
}

.palettes-preview-wrapper label {
  display: block;
}
