.color-picker-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.palettes-col {
  width: 40%;
}

.preview-wrapper label,
.palette label {
  width: 100%;
  padding: 0.6rem 0;
}

.palette {
  padding-bottom: 1rem;
}

.palette .color {
  display: inline-block;
  border: solid 1px #cccccc;
  width: 24px;
  height: 24px;
  overflow: clip;
  margin: 0 0.4em 0.4rem 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 50%;
}

.preview-wrapper {
  padding: 0 0 0 1rem;
  box-sizing: border-box;
  max-width: 60%;
  align-self: flex-start;
}

.preview {
  padding: 1rem 1rem 2rem 1rem;
}

.palettes-preview-wrapper {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}

.palettes-preview-wrapper label {
  display: block;
}
